
.el-pagination.is-background .el-pager li:not(.disabled).active{
    background-color:#FB4C5D !important;
    color:#fff !important;
}
.el-pagination.is-background.el-pagination--small .btn-next, 
.el-pagination.is-background.el-pagination--small .btn-prev, 
.el-pagination.is-background.el-pagination--small .el-pager li{
    margin:0 !important;
    min-width:32px !important;
    min-height:28px !important;
    line-height:28px !important;
    border:1px solid #DBE0E7 !important;
    border-right:0 !important;
}
.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{
    background-color:#fff !important;
}
.el-pagination--small button, .el-pagination--small span:not([class*=suffix]){
    margin-right:15px !important;
    min-height:28px !important;
    line-height:28px !important;
}
.el-pagination__editor.el-input{
    width:40px !important;
}
.el-pagination__editor.el-input .el-input__inner{
    min-height:28px !important;
}
.el-date-table td.in-range div, .el-date-table td.in-range div:hover, .el-date-table.is-week-mode .el-date-table__row.current div, .el-date-table.is-week-mode .el-date-table__row:hover div{
    background-color: rgba(251,76,93, 0.2) !important;
}
