
.el-pagination.is-background .el-pager li:not(.disabled).active{
    background-color:#f31d65 !important;
    color:#fff !important;
}
.el-pagination.is-background.el-pagination--small .btn-next,
.el-pagination.is-background.el-pagination--small .btn-prev,
.el-pagination.is-background.el-pagination--small .el-pager li{
    margin:0 !important;
    min-width:32px !important;
    min-height:28px !important;
    line-height:28px !important;
    border:1px solid #DBE0E7 !important;
    border-right:0 !important;
}
.el-pagination.is-background.el-pagination--small .btn-next{
  border-right: 1px solid #DBE0E7 !important;
}
.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{
    background-color:#fff !important;
}
.el-pagination--small button, .el-pagination--small span:not([class*=suffix]){
    margin-right:15px !important;
    min-height:28px !important;
    line-height:28px !important;
}
.el-pagination--small span:not([class*=suffix]):last-child{
  margin-right:0 !important;
}
.el-pagination__editor.el-input{
    width:40px !important;
}
.el-pagination__editor.el-input .el-input__inner{
    min-height:28px !important;
}
.el-date-table td.in-range div, .el-date-table td.in-range div:hover, .el-date-table.is-week-mode .el-date-table__row.current div, .el-date-table.is-week-mode .el-date-table__row:hover div{
    background-color: rgba(251,76,93, 0.2) !important;
}
.el-input__inner .el-input__inner{
  border: 1px solid #dddddd;
  height: calc(36/1920*100vw);
}
.el-tooltip__popper.is-dark{
  background-color: rgb(78, 81, 95);
  font-size: calc(12/1920* 100vw) !important;
  font-family: Roboto, 'Microsoft YaHei';
}
.el-range-editor--mini .el-range-separator{
  height: calc(36/1920*100vw);
  line-height: calc(36/1920*100vw);
  color: #7d8cad;
}
/*.el-input--small .el-input__inner {*/
  /*height: calc(36/1920*100vw);*/
  /*line-height: calc(36/1920*100vw);*/
  /*border-color: #ddd;*/
  /*border-radius: 3px;*/
/*}*/
.el-range-editor--mini.el-input__inner{
  height: calc(36/1920*100vw);
  line-height: calc(36/1920*100vw);
  border-color: #ddd;
  min-height: 28px;
}

.el-select-content.el-select .el-input__inner{
  height: calc(36/1920*100vw);
  line-height: calc(36/1920*100vw);
  border-color: #ddd;
  color: #7d8cad;
  width: calc(160/1920*100vw);
  min-width: 85px;
  min-height: 28px;
}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover{
  background-color: #FEE4E7;
}

.el-province .el-input--mini .el-input__inner{
  height: calc(36/1920*100vw);
  line-height: calc(36/1920*100vw);
  color: #7d8cad;
  border-radius: 3px !important;
  background: #f4f5f9 !important;
  border: 1px solid #E4E7ED !important;
  min-height: 28px;
  min-width: 85px;
}
.el-province .el-input--mini .el-input__icon {
  line-height: calc(36/1920*100vw);
}
.search-input.el-input.el-input--mini .el-input__inner{
  height: calc(36/1920*100vw);
  line-height: calc(36/1920*100vw);
  color: #7d8cad;
  min-height: 28px;
  min-width: 85px;
}
.el-date-editor .el-range-input{
  color: #7d8cad;
  /*font-size: calc(14/1920*100vw);*/
}
.el-tabs__item{
  color: #7d8cad;
}
.el-range-editor--mini .el-range__icon, .el-range-editor--mini .el-range__close-icon {
  line-height: calc(35/1920*100vw);
  height: calc(35/1920*100vw);
}
.el-range-editor--mini .el-range__close-icon{
  display: none
}
.el-date-editor .el-range-input{
  width: 50%;
}
.el-button--primary.el-button--small{
  min-height: 28px;
  min-width: 85px;
}
.el-button--primary.el-button--mini{
  min-height: 28px;
  min-width: 85px;
}
.el-picker-panel{
  font-family: Roboto, 'Microsoft YaHei'
}


