
.el-pagination.is-background .el-pager li:not(.disabled).active{
    background-color:#edf0f2 !important;
    color:#2b2b2b !important;
    font-weight: bold;
}
.el-pagination.is-background.el-pagination--small .btn-next,
.el-pagination.is-background.el-pagination--small .btn-prev{
    background-color:transparent !important;
    color:#484848 !important;
    border: none;

} 
.el-pagination.is-background.el-pagination--small .btn-next:disabled,
.el-pagination.is-background.el-pagination--small .btn-prev:disabled{
  color:#acaeb1 !important;
  }
.el-pagination.is-background.el-pagination--small .el-pager li{
    margin:0 !important;
    min-width:48px !important;
    min-height:31px !important;
    line-height:28px !important;
    border-radius: 5px !important;
    background-color: #edf0f2 !important;
    /*border-right:0 !important;*/
}
.el-pagination.is-background.el-pagination--small .btn-next{
  border-right: none !important;
  margin-left: 16px;
}
.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev{
    background-color:transparent !important;
}
.el-pagination.is-background .el-pager li{
  background-color:#edf0f2 !important;
}
.el-pagination.is-background .el-pager li:not(.disabled):hover{
  color: #006AB7;
}
.el-pagination--small button, .el-pagination--small span:not([class*=suffix]){
    margin-right:15px !important;
    min-height:28px !important;
    line-height:28px !important;
}
.el-pagination--small span:not([class*=suffix]):last-child{
  margin-right:0 !important;
}
.el-pagination__editor.el-input{
    width:40px !important;
}
.el-pagination__editor.el-input .el-input__inner{
    min-height:28px !important;
}
.el-date-table td.in-range div, .el-date-table td.in-range div:hover, .el-date-table.is-week-mode .el-date-table__row.current div, .el-date-table.is-week-mode .el-date-table__row:hover div{
    background-color: rgba(251,76,93, 0.2) !important;
}
.el-input__inner .el-input__inner{
  border: 1px solid #dddddd;
  height: calc(36/1920*100vw);
}
.el-tooltip__popper.is-dark{
  background-color: rgb(78, 81, 95);
  font-size: calc(12/1920* 100vw) !important;
  font-family: Roboto, 'Microsoft YaHei';
}
.el-range-editor--mini .el-range-separator{
  height: calc(36/1920*100vw);
  line-height: calc(36/1920*100vw);
  color: #7d8cad;
}
/*.el-input--small .el-input__inner {*/
  /*height: calc(36/1920*100vw);*/
  /*line-height: calc(36/1920*100vw);*/
  /*border-color: #ddd;*/
  /*border-radius: 3px;*/
/*}*/
.el-range-editor--mini.el-input__inner{
  height: calc(36/1920*100vw);
  line-height: calc(36/1920*100vw);
  border-color: #ddd;
  min-height: 28px;
  border: none;
}

.el-select-content.el-select .el-input__inner{
  height: calc(36/1920*100vw);
  line-height: calc(36/1920*100vw);
  border-color: #ddd;
  color: #7d8cad;
  width: calc(160/1920*100vw);
  min-width: 85px;
  min-height: 28px;
}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover{
  background-color: #FEE4E7;
}

.el-province .el-input--mini .el-input__inner{
  height: calc(36/1920*100vw);
  line-height: calc(36/1920*100vw);
  color: #7d8cad;
  border-radius: 3px !important;
  background: #fff !important;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  min-height: 28px;
  min-width: 85px;
  font-size: 15px;
}
.el-province .el-input--mini .el-input__icon {
  line-height: calc(36/1920*100vw);
}
.search-input.el-input.el-input--mini .el-input__inner{
  height: calc(36/1920*100vw);
  line-height: calc(36/1920*100vw);
  color: #7d8cad;
  min-height: 28px;
  min-width: 85px;
  border: none;
}
.el-date-editor .el-range-input{
  color: #7d8cad;
  /*font-size: calc(14/1920*100vw);*/
}
.el-tabs__item{
  color: #7d8cad;
}
.el-range-editor--mini .el-range__icon, .el-range-editor--mini .el-range__close-icon {
  line-height: calc(35/1920*100vw);
  height: calc(35/1920*100vw);
}
.el-range-editor--mini .el-range__close-icon{
  display: none
}
.el-date-editor .el-range-input{
  width: 50%;
}
.el-button--primary.el-button--mini{
  min-height: 28px;
  min-width: 85px;
}
.el-picker-panel{
  font-family: Roboto, 'Microsoft YaHei'
}
.el-table .caret-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 16px;
  width: 16px;
  vertical-align: middle;
  cursor: pointer;
  overflow: initial;
  position: relative;
}
.el-table .sort-caret {
  height: 16px;
  width: 16px;
  border: none !important;
  /*content: url(/../../../static/img/tbl_sort.svg);*/
  left: 0px !important; 
}

.el-table .ascending .sort-caret.ascending {
  content: url(/../../static/img/tbl_sort_ascending.svg);
    border-bottom-color: #f31d65;
}
.el-table .sort-caret.ascending {
  content: url(/../../static/img/tbl_sort.svg);
  border-bottom-color: #c0c4cc;
  top: 0px;
}
.el-table .descending .sort-caret.descending {
  content: url(/../../static/img/tbl_sort_descending.svg);
  border-top-color: #f31d65;
}
.el-table .sort-caret.descending {
  /*content: url(/../../../static/img/tbl_sort.svg);*/
  border-top-color: #c0c4cc;
  bottom: 0px;
}
.el-table__expanded-cell{
  background-color: #EFF3F5 !important;
}
.el-table__expanded-cell:hover {
  background-color: #EFF3F5 !important;
}
.el-table__body tr:hover>td{
  background-color: #EFF3F5 !important;
}