#en-storetab-content .el-tabs__item {
  padding: 0 0;
  font-size: calc(14/1920*100vw);
}

#en-storetab-content .el-tabs__active-bar{
    height: 4px;
}
#storetab-content .el-tabs__item {
  padding: 0 0;
  font-size: 14px;
}
#storetab-content .el-tabs__active-bar{
  height: 4px;
}

#en-devicetabs-content .el-tabs__item {
  padding: 0 0;
  font-size: calc(15/1920*100vw);
  width: 180px;
  font-weight: 600;
  height: calc(34/1920*100vw);
  line-height: calc(34/1920*100vw);
}

#en-devicetabs-content .el-tabs__active-bar{
  height: 4px;
}

#ja-devicetabs-content .el-tabs__item {
  padding: 0 0;
  font-size: 14px;
  width: 220px;
}
#ja-devicetabs-content .el-tabs__active-bar{
  height: 4px;
}

#en-tabs-content  .el-tabs__nav-scroll{
  margin-left:20px !important;
  border-bottom-color: #acaeb1  !important;
}
#en-tabs-content .el-tabs__nav.is-top{
  margin-left: 0;
}
#en-tabs-content .el-tabs__item {
  padding: 0 0;
  font-size: 13px;
  width: 180px;
}
.th-tab_content .el-tabs__item {
  padding: 0 0;
  font-size: 13px;
  width: 200px;
}

#en-tabs-content .el-tabs__active-bar{
  height: 4px;
}
.el-tabs__item {
  font-family: NotoSansCJKTC;
  font-size: 13px;
  color: #a5a5a5;
  padding: 0 20px !important;
}
.el-tabs__item:hover {
  color: #006ab7;
  cursor: pointer;
}
.el-tabs__item.is-active {
  color: #006ab7;
  background-color: #f7f9fa;
  border-radius: 2px;
  font-size: 15px;
  border-bottom: 1px solid rgba(172,174,177,.34);
}
.el-tabs__active-bar{
  display: none;
}
