#en-storetab-content .el-tabs__item {
  padding: 0 0;
  font-size: calc(14/1920*100vw);
}

#en-storetab-content .el-tabs__active-bar{
    height: 4px;
}
#storetab-content .el-tabs__item {
  padding: 0 0;
  font-size: 14px;
}
#storetab-content .el-tabs__active-bar{
  height: 4px;
}

#en-devicetabs-content .el-tabs__item {
  padding: 0 0;
  font-size: 14px;
  width: 180px;
}

#en-devicetabs-content .el-tabs__active-bar{
  height: 4px;
}

#ja-devicetabs-content .el-tabs__item {
  padding: 0 0;
  font-size: 14px;
  width: 220px;
}
#ja-devicetabs-content .el-tabs__active-bar{
  height: 4px;
}

#en-tabs-content  .el-tabs__nav-scroll{
  margin-left:20px !important;
}
#en-tabs-content .el-tabs__nav.is-top{
  margin-left: 0;
}
#en-tabs-content .el-tabs__item {
  padding: 0 0;
  font-size: 14px;
  width: 180px;
}

#en-tabs-content .el-tabs__active-bar{
  height: 4px;
}
