.date-picker-poper .el-button--text {
  visibility: hidden !important;
}

.el-input__inner .el-input__inner {
  border: 1px solid #dddddd;
}

.process-panel .el-progress-circle {
  width: 150px !important;
  height: 150px !important;
}

.el-tooltip-class.el-tooltip__popper[x-placement^='bottom'] .popper__arrow {
  border-bottom-color: rgba(30, 34, 52, 0.75);
  display: none;
}

.el-tooltip-class.el-tooltip__popper[x-placement^='bottom'] .popper__arrow:after {
  border-bottom-color: rgba(30, 34, 52, 0.75);
}

.el-tooltip-class.el-tooltip__popper.is-dark {
  background: rgba(30, 34, 52, 0.75) !important;
  font-size: 14px !important;
  line-height: 21px;
  padding: 5px;
}

.item-process .el-progress-bar .el-progress-bar__outer {
  background-color: #fff;
}

.inactive-item-process .el-progress-bar .el-progress-bar__outer {
  background-color: #f4f5f9;
}

.region-process .el-progress-bar .el-progress-bar__outer {
  background-color: #f4f5f9;
}

.el-range-editor--mini .el-range-separator {
  height: calc(35 / 1920 * 100vw);
  line-height: calc(35 / 1920 * 100vw);
}
.LoadDialog /deep/ .el-dialog__header{
  padding-bottom:0;
}
.LoadDialog /deep/ .el-dialog__body{
  padding:0px 20px 30px 20px !important;
}
.el-table__body-wrapper::-webkit-scrollbar{
  height: 8px;
}
.el-table__body-wrapper::-webkit-scrollbar-thumb{
  border-radius: 2px;
}
.el-table__body-wrapper::-webkit-scrollbar-track{
  border-radius: 2px;
}
.header-class{
  height: 40px !important;
  font-size: 12px !important;;
  font-weight: bold;
  color: #7d8cad;
  background-color: #f4f5f9 !important;
  border-right: none !important;
}
.cell-class{
  padding-left: 20px;
  font-size: calc(14/1920*100vw);
  color: #182752;
}
.el-table__row.row-class{
  height: 35px;
}
body .el-table th.gutter {
  display: table-cell !important
}
.el-table--border td.cell-class:nth-last-of-type(1) {
  border-right: 1px solid #EBEEF5 !important;
}
.el-table__header-wrapper th.header-class:nth-last-of-type(2) {
  border-right: 1px solid #EBEEF5 !important;
}
.header-class .cell{
  padding-left: calc(20/1920*100vw) !important;
}
.header-class:first-child .cell{
  padding-left: calc(70/1920*100vw) !important;
}

.name-wrapper .el-tag--small{
  width: 45px;
  font-size: calc(14/1920*100vw);
  font-family: Arial;
  padding: 0 0;
  text-align: center;
}
.remote .el-tag{
  color: #f31d65;
  border: 1px solid #f31d65;
}
.onsite .el-tag{
  color: #fb804f;
  border: 1px solid #fb804f;
}
.video .el-tag{
  color: #fccc3f;
  border: 1px solid #fccc3f;
}

.header-class .cell{
  padding-left: calc(20/1920*100vw) !important;
}
.header-class:first-child .cell{
  padding-left: calc(70/1920*100vw) !important;
}
.cell-class .cell{
  padding-left: calc(20/1920*100vw) !important;
}
.cell-class:first-child .cell{
  padding-left: calc(70/1920*100vw) !important;
}
.el-table__empty-block{
  border-bottom: 1px solid #e3e9f4;
}
.el-table-panel .el-table.el-table--striped.el-table--border.el-table--enable-row-hover.el-table--mini{
  border-right: 1px solid #e3e9f4;
}

.el-table--mini th, .el-table--mini td{
  padding: 0;
}
