.date-picker-poper .el-button--text {
  visibility: hidden !important;
}

.el-input__inner .el-input__inner {
  border: 1px solid #dddddd;
}

.process-panel .el-progress-circle {
  width: 150px !important;
  height: 150px !important;
}

.el-tooltip-class.el-tooltip__popper[x-placement^='bottom'] .popper__arrow {
  border-bottom-color: rgba(30, 34, 52, 0.75);
  display: none;
}

.el-tooltip-class.el-tooltip__popper[x-placement^='bottom'] .popper__arrow:after {
  border-bottom-color: rgba(30, 34, 52, 0.75);
}

.el-tooltip-class.el-tooltip__popper.is-dark {
  background: rgba(30, 34, 52, 0.75) !important;
  font-size: 14px !important;
  line-height: 21px;
  padding: 5px;
}

.item-process .el-progress-bar .el-progress-bar__outer {
  background-color: #fff;
}

.inactive-item-process .el-progress-bar .el-progress-bar__outer {
  background-color: #f4f5f9;
}

.region-process .el-progress-bar .el-progress-bar__outer {
  background-color: #f4f5f9;
}

.el-range-editor--mini .el-range-separator {
  height: calc(35 / 1920 * 100vw);
  line-height: calc(35 / 1920 * 100vw);
}
.LoadDialog .el-dialog__header{
  padding-bottom:0;
}
.LoadDialog .el-dialog__body{
  padding:0px 20px 30px 20px !important;
}
.el-table__body-wrapper::-webkit-scrollbar{
  height: 8px;
}
.el-table__body-wrapper::-webkit-scrollbar-thumb{
  border-radius: 2px;
}
.el-table__body-wrapper::-webkit-scrollbar-track{
  border-radius: 2px;
}
.header-class{
  height: 62.5px !important;
  font-size: 12px !important;;
  font-weight: bold;
  color: #556679;
  background-color: #f7f9fa !important;
  border: none !important;
}
.cell-class{
  padding-left: 24px;
  font-size: calc(15/1920*100vw);
  color: #484848;
  background-color: #f7f9fa !important;
  border: none !important;
  border-bottom:1px solid rgba(172,174,177,0.3) !important;
}
.el-table__row.row-class{
  height: 62.5px;
}
body .el-table th.gutter {
  display: table-cell !important
}
.el-table--border th.gutter:last-of-type{
  border-bottom: none;
}
.el-table--border td.cell-class:nth-last-of-type(1) {
  border-right: 1px solid #EBEEF5 !important;
}
.el-table__header-wrapper th.header-class:nth-last-of-type(2) {
  border-right: 1px solid #EBEEF5 !important;
}
.header-class .cell{
  padding-left: calc(20/1920*100vw) !important;
}
.header-class:first-child .cell{
  padding-left: calc(70/1920*100vw) !important;
}
.el-table th {
  background-color: transparent;
}
.el-table__expand-icon .el-icon{
  display: none;
}
.el-table__footer-wrapper, .el-table__header-wrapper {
  @media screen and (max-width:1367px) {
    overflow: visible;
  }
  @media screen and(min-width: 1367px){
    overflow: hidden;
  }

}
.el-table__body-wrapper {
  @media screen and (max-width:1367px) {
    overflow: visible;
  }
  @media screen and(min-width: 1367px){
    overflow: hidden;
  }
}
.el-table--scrollable-x .el-table__body-wrapper {
  @media screen and (max-width:1367px) {
    overflow: visible;
  }
  @media screen and(min-width: 1367px){
    overflow: hidden;
  }
}
.el-table--border::after, .el-table--group::after {
  width: 0px;
}
.el-table th>.cell{
  @media screen and (max-width:1367px) {
    width:max-content;
  }
  @media screen and(min-width: 1367px){
    width:100%;
  }

}
//.el-table {
//  overflow-x: auto;
//}
//.el-table__header-wrapper,
//.el-table__body-wrapper,
//.el-table__footer-wrapper {
//  overflow: visible;
//}
//.el-table::after {
//  position: relative;
//}
//.el-table--scrollable-x .el-table__body-wrapper {
//  overflow: visible;
//}
.name-wrapper .el-tag--small{
  width: 45px;
  font-size: calc(14/1920*100vw);
  font-family: Arial;
  padding: 0 0;
  text-align: center;
}
.remote .el-tag{
  color: #f31d65;
  border: 1px solid #f31d65;
}
.onsite .el-tag{
  color: #fb804f;
  border: 1px solid #fb804f;
}
.video .el-tag{
  color: #fccc3f;
  border: 1px solid #fccc3f;
}

.header-class .cell{
  padding-left: calc(20/1920*100vw) !important;
}
.header-class:first-child .cell{
  padding-left: calc(70/1920*100vw) !important;
}
.cell-class .cell{
  padding-left: calc(20/1920*100vw) !important;
}
.cell-class:first-child .cell{
  // padding-left: calc(0/1920*100vw) !important;
}
.el-table__empty-block{
  border-bottom: 1px solid #e3e9f4;
}
.el-table-panel .el-table.el-table--striped.el-table--border.el-table--enable-row-hover.el-table--mini{
  border-right: 1px solid #e3e9f4;
}

.el-table--mini th, .el-table--mini td{
  padding: 0;
}

.current-row > td {
  background: #edf0f2;
  background-color: transparent !important;
}
.el-dialog__body{
  padding: 0px;
}

@media screen  and (max-width: 1280px){
  .add-dialog .el-dialog{
    width: 40% !important;
  }
}
.ezviz-account .el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:before{
  color: #fff;
}
.ezviz-account .el-form-item__content{
  display: inline-block;
  width: 100%;
}
.access-token .el-form-item__content{
  width: 100%;
  display: inline-block;
  align-items: center;
}
.access-button .el-form-item__content{
  width: 100%;
}
.accountForm .el-form-item__error{
  color:#F56C6C !important;
}
.ezviz-account .el-form-item__error{
  color:#F56C6C !important;
}
.el-dialog__body .dialog-content .accountForm{
  width: 90%;
  margin: 0 auto;
}
.ezviz-account .el-form-item , .accountForm .el-form-item {
  margin-bottom: 15px;
  display: flex;
}
.el-dialog__body .dialog-content .accountForm label {
  padding: 0
}
.accountForm .el-radio__label , .accountForm .el-form-item__label , .accountForm .el-form-item__content{
  font-size: calc(14/1920*100vw);
}
.accountForm .radio-item {
  margin-bottom: 15px;
}
.accountForm .el-input__count{
  float: right;
}
.accountForm .el-radio__input.is-checked + .el-radio__label{
  color: #606266;
}
.accountForm .comment-item{
  margin-bottom: 0px;
}
.accountForm .el-form-item__error{
  left: 0;
}
.account-header{
  border: none;
  font-size: calc(14/1920*100vw);
  color: #7d8cad;
  height: 47px;
}

.self-loading .el-loading-mask{
  background-color: rgba(255, 255, 255, 1);
  .el-loading-spinner  .circular {
    width: 30px;
    height: 30px;
    margin-right: 120px;
    // display: none;
  }
  .el-loading-spinner {
    // background-size: 24px 24px;
    // background-position: calc(50% - 50px) 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    position: relative;
  }


  .el-loading-text {
    color: #7d8cad;
    font-size: calc(14 / 1920 * 100vw);
    display: inline-block;
    height: 32px;
    line-height: 32px;
    position: absolute;
    left: calc(50% - 32px);
  }
}


.el-dialog__body{
  padding: 0;
}

.el-table-column--selection{
  border-right: none !important;
}

.el-textarea__inner{
  font-family: Roboto, Microsoft YaHei,'Microsoft JhengHei', Arial, sans-serif;
}

.el-radio__label{
  font-size: calc(14/1920*100vw);
}

.el-tabs__nav-wrap::after{
  height: 1px;
  background-color: #e3e9f4;
}

.el-dialog__body .el-form-item__label{
  padding:0;
  font-size: calc(14/1920*100vw);
  color: #424151;
}

.el-form{
  width: 100%;
}

.el-form-item__error{
  color:#F56C6C !important;
}

.el-date-editor .el-range__close-icon{
  display: none;
}

.loading_rotate{
  width: 24px;
  height: 24px;
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(720deg);
  }
}
