@charset "UTF-8";

@mixin iconStyle {
    float: left;
    position: relative;
    padding: 0.0625em 0.375em;
    @include point(border-width,1);
    border-style: solid;
    border-color:$border;
    cursor: pointer;
}
.iconcontent{
    position: absolute;
    @include point(right,25);
    @include point(top,13);
    .iconlised{
        @include iconStyle;
        color: $fff;
        background-color: $red;
    }
    .iconrised{
        @include iconStyle;
        color: $fontBack;
        background-color: #fff;
    }
}

.title-content{
    @include point(height,checkEm(60));
    @include point(line-height,checkEm(60));
    @include point(padding-left,checkEm(15));
    @include point(padding-top,checkEm(4));
    text-align: left;
    position: relative;
    overflow: hidden;
    border-bottom: 0625em solid $border;
    span{
        @include point(margin-left,checkEm(10));
        font-weight: bold;
    }
    .icontitle{
        @include point(margin-right,checkEm(15));
        @include point(font-size,checkEm(20));
        font-weight: normal;
    }
    .btn-content{
        position: absolute;
        @include point(right,15);
        @include point(top,15);
        @include point(width,120);
        @include point(font-size,14);
        background-color: $red;
        color: $fff;
        span{
            @include point(margin-left,14);
        }
    }
    .nape-input{
        @include point(width,checkEm(220));
        @include point(margin-left,checkEm(10));
        float: left;
    }
}