@charset "UTF-8";
    .navIcon{
        display:inline-block;
        @include point(width,60);
        @include point(font-size,60);
        color:$fff;
    }
    .container{
        position: absolute;
        top: 0px;
        bottom: 0px;
        width: 100%;
        height:100%;
        padding:0;
        .header{
            width: 100%;
            height: 60px;
            z-index:999;
            position:fixed;
            background-color:#fff;
            line-height: 60px;
            border-bottom: 0.5px solid #ebebeb;
            .logo-width{
                width:16.9%;
            }
            .logo-collapse-width{
                width:$collapseWidth;
                width: 4.5%;
                max-width: 65px;
            }
            .logo-content{
                height: 100%;
                font-size: 20px;
                background-color:#232730;
                padding-top: 10px;
                position: relative;
                @include borderColor;
                .img-logo{
                    display:inline-block;
                    margin-top: 8px;
                }
                .sys-name{
                    position: relative;
                    bottom: 10px;
                    margin-left: 10px;
                    font-weight: bold;
                    color: #f6f9fe;
                }
            }
            .el-traggle-content{
                height: 100%;
                border-right: 1px solid;
                border-color: rgba(238,241,146,0.3);
                position: relative;
                .icon-collapse{
                    font-size: 32px;
                    cursor: pointer;
                    color: #99A7B2;
                }
            }
            .breadcrumb-inner{
                float:left;
                .breadcrumb-item{
                    padding:20px 0px 20px 10px;
                    font-size:16px;
                    line-height:20px;
                    color:#4b5262 !important;
                    span{
                        color:#4b5262 !important;
                    }
                }
            }
            .user-content{
                float:right;
                .bell-content{
                    width:60px;
                    height:60px;
                    float:left;
                    text-align:center;
                    border-left:1px solid rgba(255,255,255,0.2);
                    border-right:1px solid rgba(255,255,255,0.2);
                    position: absolute;
                    top:0;
                    right:160px;
                    .el-icon-bell{
                        font-size:1.6em;
                        vertical-align:middle;
                        color:#4b5262;
                    }
                    .item{
                        position:absolute;
                        top:-5px;
                        left:35px;
                    }
                }
                .badoc-content{
                    width: 60px;
                    height: 60px;
                    text-align:center;
                    border-right:1px solid rgba(255,255,255,0.2);
                    position: absolute;
                    top:0;
                    right:182px;
                    color:#4b5262;
                }
            }
            .headUrl-content{
                float: right;
                color: #fff;
                .username{
                    color:#4b5262;
                    i{
                        color:#FB4C5D;
                        font-weight: bold;
                    }
                }
                .headImg{
                    position: relative;
                    top: 10px;
                    margin-left: 10px;
                }
            }
        }

        .main{
            display: flex;
            position: absolute;
            top:60px;
            bottom:0px;
            background-color: #f6f9fe;
            
            aside{
                height:100%;
                float:left;
                position: fixed;
                .el-submenu{
                    position: relative;
                    // @include borderColor;
                    &:hover{
                        background-color:#FB4C5D !important;
                    }
                }
                #childSubItem.submenu-item{
                    position: relative;
                    min-width: auto !important;
                    // @include borderColor;
                }
            }
            .content-wrapper-all{
                height: 93%;
                margin: 15px;
                border:0.5px solid #e3e9f4;
                width: 97.5%;
                background: #fff;
            }
            .content-wrapper{
                height: auto;
                margin: 15px;
                border:0.5px solid #e3e9f4;
                width: 97.5%;
                background: #fff;
            }
            .footercontent{
                // height:13%;
                padding:0px 0 10px 60px;
                color:#777;
                font-size:14px;
            }
        }
        .el-submenu:hover{
             background-color:#FB4C5D !important;
        }
        .el-menu-item:hover{
            background-color:#FB4C5D !important;
        }
        .el-menu-item.is-active{
            background-color:#2F2933 !important;
            color:#FB4C5D;
            div{
                background-color: #FB4C5D !important;
            }
        }
        .el-submenu.is-active .el-submenu__title{
            background-color:#FB4C5D !important;
        }
        .aside-width{
            width: 16.9%;
            background-color: #232730;
        }
        .aside-collapse-width{
            width:$collapseWidth;
            max-width: 65px;
            width: 4.5%;
            overflow: hidden !important;
            background-color: #232730;
        }
        .sec-collapsed{
            margin-left:4.5%;
            width:95.5%;
        }
        .sec-uncoll{
            margin-left:16.9%;
            width:83.1%;
        }
    }