$red:#f31d65;
$black:#182752;
$border:#e3e9f4;
$background:#f4f5f9;
$tab:#7d8cad;
$h1:#292e36;
$qualified:#6097F3;
$noqualied:#FDBA40;
$suggestBack:#F1F6FE;
$excellent: #57e78f;
$dangerous:#f31d65;
$improved: #ffd035;
$pass: #72a1f3;
$failed: #ffd035;
$ignored: #cad1db;
$pending: #fea316;
$done: #434c5e;
$closed: #72a1f3;
$onsite: #fb804f;
$store: #fccc3f;

*{
  box-sizing: border-box;
}
.statistics-header{
  margin-bottom: 30px;
  border-bottom: 1px solid $border;
  background-color: #fff;
  padding-top: 30px;
  color: $black;
  .header-details{
    text-align: left;
    position: relative;
    .search-content{
      display: inline-block;
    }
    .date-range {
      border: 1px solid #ccc;
      width: 200px;
      height: calc(35 / 1920 * 100vw);
      min-height: 28px;
    }
    .item {
      color: $tab;
      margin-left: calc(20 / 1920 * 100vw);
      margin-right: calc(8 / 1920 * 100vw);
    }
    .iconbangzhu{
      font-size: calc(20 / 1920 * 100vw);
      position: relative;
      color: $tab;
    }
    @media screen and(max-width: 1366px){
      .en-span-class{
        margin-right: 60px;
      }
    }
    .el-province{
      width: calc(160/1920*100vw);
      margin-right: calc(15/1920*100vw);
      min-height: 28px;
      min-width: 85px
    }
    .search-btn{
      width: calc(130/1920*100vw);
      height: calc(36/1920*100vw);
      padding: 0 0;
      font-size: calc(14/1920*100vw);
      margin-left: calc(20/1920*100vw);
    }
    .en-search-btn{
      width: calc(130/1920*100vw);
      min-width:115px;
      margin-left: calc(20/1920*100vw);
      height: calc(36/1920*100vw);
      padding: 0 0;
      font-size: calc(14/1920*100vw);
      margin-left: calc(20/1920*100vw);
    }
  }

  .header-details:nth-child(2){
    padding-bottom: 15px;
    padding-right: calc(60/1920*100vw);
  }
}

.header{
  height: 70px;
  text-align: left;
  padding-left: calc(30/1920*100vw);
  padding-right: calc(30/1920*100vw);
  border-bottom: 1px solid $border;
  .title{
    display: inline-block;
    font-size: calc(20/1920*100vw);
    padding-top: 30px;
  }
  .exprotBtn{
    float: right;
    padding-top: 25px;
  }
}

.title{
  height: 70px;
  text-align: right;
  padding-top: 20px;
}

