$red:#f31d65;
$black:#2b2b2b;
$border:rgba(172,174,177,0.3);
$background:#f4f5f9;
$tab:#7d8cad;
$h1:#292e36;
$qualified:#6097F3;
$noqualied:#FDBA40;
$suggestBack:#F1F6FE;
$excellent: #57e78f;
$dangerous:#f11e66;
$improved: #f57848;
$pass: #8fd92e;
$failed: #ffd035;
$ignored: #cad1db;
$pending: #fea316;
$done: #434c5e;
$closed: #72a1f3;
$onsite: #fb804f;
$store: #fccc3f;

*{
  box-sizing: border-box;
}
.statistics-header{
  margin-bottom: 30px;
  border-bottom: 1px solid $border;
  background-color: #edf0f2;
  padding-top: 24px;
  color: #484848;
  .header-details{
    text-align: left;
    position: relative;
    .search-content{
      display: inline-block;
    }
    .date-range {
      border: 1px solid #ccc;
      width: 200px;
      height: calc(35 / 1920 * 100vw);
      min-height: 28px;
    }
    .item {
      color: $tab;
      margin-left: calc(20 / 1920 * 100vw);
      margin-right: calc(8 / 1920 * 100vw);
    }
    .iconbangzhu{
      font-size: calc(20 / 1920 * 100vw);
      position: relative;
      color: $tab;
    }
    @media screen and(max-width: 1366px){
      .en-span-class{
        margin-right: 60px;
      }
    }
    .el-province{
      width: 100%;
      margin-right: calc(15/1920*100vw);
      min-height: 28px;
      min-width: 85px
    }
    .search-btn{
      width: calc(130/1920*100vw);
      height: calc(36/1920*100vw);
      padding: 0 0;
      font-size: calc(14/1920*100vw);
      margin-left: calc(20/1920*100vw);
    }
    .en-search-btn{
      width: calc(130/1920*100vw);
      min-width:115px;
      margin-left: calc(20/1920*100vw);
      height: calc(36/1920*100vw);
      padding: 0 0;
      font-size: calc(14/1920*100vw);
      margin-left: calc(20/1920*100vw);
    }
  }

  .header-details:nth-child(2){
    padding-bottom: 15px;
    padding-right: calc(60/1920*100vw);
  }
}

.statistics-content{
  margin-left: calc(32/1440*100vw);
  margin-right: calc(32/1440*100vw);
  width: calc(1096px/1440*100vw);
  margin: 0px 32px 24px;
  padding: 17px 24px 24px 22px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border-radius: 5px;
  .head{
    width: calc(1048px/1440*100vw);
    margin-left:20px;
    margin-right:20px; 
    padding-right:23px;
    height: 42px;
    border-bottom: solid 1px $border;
    align-items: center;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    .region-titles{
        font-family: NotoSansCJKTC;
        font-size: calc(18/1920*100vw);
        font-weight: 500;
        text-align: left;
        color: #2b2b2b;
    }
    
  }
  .partition{
    width: calc(1048px/1440*100vw);
    margin-left:20px;
    margin-right:20px; 
    border-bottom: solid 1px #acaeb1;
    align-items: center;
  }
}

.date-picker {
  width:130px;
  height: 35px;
  line-height: 25px;
  font-size: 13px;
  margin-left: 0;
  align-self: center;
  .el-input__inner {
        width: 130px;
        height: 35px;
        border: none;
        background-color:#f7f9fa;
    
  }
  .el-input__prefix {
    position: absolute;
    height: 18px;
    left: 5px;
    top: 0;
    text-align: center;
    color: #c0c4cc;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .el-input__icon {
      width: 18px;
      height: 18px;
      line-height: 42px;
      /*content: url(/../../../static/img/statistics/ic_calender.svg);*/
  }
  .el-input--medium .el-input__icon {
    line-height: 32px;
  }
  .el-icon-date::before{
    content: url(~@/../static/img/statistics/ic_calender.svg);
  }
  .global-date-pick{
    .el-range-editor--mini .el-range__icon{
      width: 24px;
      height: 24px;
      line-height: 28px;
    }
    .el-input__icon {
      width: 24px;
      height: 24px;
      line-height: 36px;
      /*content: url(/../../../static/img/statistics/ic_calender.svg);*/
    }
  }
  
}
.switch-btn{
  width:calc(202/1440*100vw);
  height:32px;
  display:flex;
  flex-direction:row;
  justify-content: stretch;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  .mode-btn{
    color: #556679;
    background-color: #fff;
    width:calc(101/1440*100vw);
    height:30px;
    font-size: 15px;
    border:none;
    text-align: center;
    line-height: 10px;
    margin-left:0px;
  }
  .active-mode-btn{
    color:#fff;
    background-color: #006ab7;
    width:calc(101/1440*100vw);
    height:30px;
    font-size: 15px;
    border:none;
    text-align: center;
    line-height: 10px;
    margin-left:0px;
    
  }
}
.operation-btns{
  align-self: center;
  display: flex;
  flex-direction: row;
  width:calc(250/1440*100vw);
  height: 30px;
  align-items: center;
  padding:0;
  justify-content: space-between;
}
.operation-btns-en{
  width:calc(344/1440*100vw);
}
.operation-btns-zh{
  width:calc(344/1440*100vw);
}
.operation-btns-zhTW{
  width:calc(344/1440*100vw);
}
.operation-btns-ja{
  width:calc(374/1440*100vw);
}
.operation-btns-ko{
  width:calc(374/1440*100vw);
}
.operation-btns-vi{
  width:calc(374/1440*100vw);
}
.operation-btns-th{
  width:calc(374/1440*100vw);
}
.operation-btns-id{
  width:calc(344/1440*100vw);
}
.no-print{
  display: none;
}
.statistics-content-pdf{
  margin-left: calc(32/1440*100vw);
  margin-right: calc(32/1440*100vw);
  width: 1000px;
  margin: 0px 32px 24px;
  padding: 17px 24px 24px 22px;
  background-color: #fff;
  border-radius: 5px;
  .head{
    width: 952px;
    margin-left:20px;
    margin-right:20px; 
    padding-right:23px;
    height: 42px;
    border-bottom: solid 1px $border;
    align-items: center;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    .region-titles{
        font-family: NotoSansCJKTC;
        font-size: calc(18/1920*100vw);
        font-weight: 500;
        text-align: left;
        color: #2b2b2b;
    }
    
  }
}


.loading_rotate{
  width: 24px;
  height: 24px;
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(720deg);
  }
}