$border: #e3e9f4;
$color: #606266;
$background: #fff;
$borderStyle: 1px solid $border;
$tab:#7d8cad;
$dialogBorder: 1px solid #dfe2e9;
$dialogTitle: #424151;
$warning: #ff9803;
$cancelBtnBackground: #eaedf2;
$cancelBtnFont: #adb1c0;
$mainColor: #f31d65;
$black: #182752;

@import url('../css/pagination.css');
.clear-float::after{
  content: '';
  display: block;
  clear: both;
}
.header-title{
  height: 70px;
  border-bottom: $borderStyle;
  padding-left: calc(40/1920*100vw);
  padding-right: calc(25/1920*100vw);
  margin-bottom: 25px;
  font-size: calc(20/1920*100vw);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color;
}

.page-container{
  background-color: $background;
  border: $borderStyle;
}

.table-iconfont{
  font-size: calc(24/1920*100vw);
  color: $tab;
  cursor: pointer;
  margin-right: 20px;
  vertical-align: middle;
  &:last-child{
    margin-right: 0px;
  }
}

.dialog-body{
  border-top: $dialogBorder;
  overflow: hidden;
  width: 100%;
}
.dialog-slot{
  margin: 40px 30px 40px 40px;
  display: flex;
  align-items: center;
}
.import-slot{
  @extend .dialog-slot;
  margin: 20px calc(20/1920*100vw) 0px;
}
.form-slot{
  @extend .dialog-slot;
  margin: 20px calc(20/1920*100vw);
}
.import-file-slot{
  @extend .dialog-slot;
  flex-wrap: wrap;
}
.inspection-name{
  border-bottom:1px solid #ddd;
  & .el-input__inner{
    border:none;
  }
}
.dialog-icon{
  font-size: 40px;
  margin-right: 20px;
  color: $warning;
}

.storevue-dialog .el-dialog{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 !important;
}

.storevue-dialog .el-dialog__header{
  padding: 20px 20px 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.storevue-dialog .el-dialog__title{
  font-size: 16px;
  color: $dialogTitle;
}
.dialog-content{
  color: $dialogTitle;
}
.storevue-dialog .el-dialog__footer{
  padding: 0 20px 20px 30px;
}

.storevue-form-dialog {
  @extend .storevue-dialog;
}

.storevue-form-dialog .el-dialog__header{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.confirm-btn{
  width: calc(100/1920*100vw);
  font-size: calc(14/1920*100vw);
  height:calc(32/1920*100vw) !important;
  border-radius: 4px;
  padding: 0;
}

.cancel-btn{
  @extend .confirm-btn;
  background-color: $cancelBtnBackground !important;
  color: $cancelBtnFont !important;
  margin-right: calc(20/1920*100vw);
  min-height: 28px;
  min-width: 85px;
}

.table-header{
  border: none;
  font-size: calc(14/1920*100vw);
  color: $tab;
  height: 47px;
}

.required-name{
  color: $mainColor;
}

.storevue-button{
  width: calc(130/1920*100vw);
  font-size: calc(14/1920*100vw);
  height: calc(36/1920*100vw);
  padding: 0;
  min-height: 28px;
  min-width: 85px;
}
.storevue-button .iconfont{
  margin-right: calc(8/1920*100vw);
}
.schedule-btn{
  @extend .storevue-button;
  @media screen and (max-width: 1680px){
    width: 110px !important;
  }
}
.operation-btns{
  padding-top: 25px;
  padding-right: calc(30 / 1920 * 100vw);
  float: right;
  display: flex;
}
.export-btn{
  @extend .storevue-button;
}
.export-btn.el-button--primary.el-button--mini{
  min-height: 28px;
  min-width: 120px;
}
.export-btn .iconfont{
  font-size: calc(24/1920*100vw);
  margin-right: calc(18/1920*100vw);
}
.export-btn .icon-excel{
  height: calc(24/1920*100vw);
  width: calc(24/1920*100vw);
  margin-right: calc(18/1920*100vw);
}
.en-export-btn{
  @extend .export-btn;
  width: calc(160/1920*100vw);
}
.button-area{
  display: flex;
  align-items: center;
  justify-content: center;
}

.el-search-input{
  width: calc(200/1920*100vw);
  margin-left: calc(30/1920*100vw);
  .el-input__inner{
    border-radius: 30px;
    text-overflow: ellipsis;
  }
}

.search-btns{
  float: right;
}

.en-bind-btn{
  margin-right: calc(20/1920*100vw);
  .iconfont{
    font-size: calc(16/1920*100vw);
  }

}
.bind-btn{
  @extend .storevue-button;
  @extend .en-bind-btn;
  @media screen and (max-width: 1440px){
    width: 100px;
  }
}

.inspction-btn{
  @extend .storevue-button;
  .iconfont{
    font-size: calc(16/1920*100vw);
  }
  @media screen and (max-width: 1440px){
    width: 100px;
  }
}

.inspction-btn.el-button--default{
  border-color: $mainColor;
  color: $mainColor;
}

.picture-tips{
  display: inline;
  font-size: 12px;
  color: $warning;
  position: relative;
  top: 30px;
  left: 30px;
}

.empty-text{
  margin-left: 20px;
  font-size: calc(16/1920*100vw);
  color: $tab;
}

.radio-group{
  display: grid;
  grid-template-columns: 240px 240px;
  grid-template-rows: 30px;
}
.radio-class{
  display: flex;
  align-items: center;
  .el-radio__label{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .radio-img{
    height: 26px;
    width: 26px;
    margin-right: 10px;
  }
  .radio-span{
    display: inline-block;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #94a4b4;
  }
}

.absolute-btn{
  position: absolute;
  z-index: 2;
  right: calc(25/1920*100vw);
}

.date-range{
  display: inline-block;
}

.date-range.el-date-editor--daterange.el-range-editor--mini {
  border: 1px solid #ccc;
  width: 200px;
  height: calc(36 / 1920 * 100vw);
  line-height: calc(36 / 1920 * 100vw);
  min-height: 28px;
}

.overview-date {
  height: 80px;
  line-height: 80px;
  text-align: left;
  margin-bottom: 30px;
  border-bottom: 1px solid $border;
  position: relative;
  background: #fff;

  .date-title {
    margin-left: calc(60 / 1920 * 100vw);
    margin-right: calc(40 / 1920 * 100vw);
    font-size: 14px;
    color: $black;
  }
  .content {
    display: inline-block;
  }
  .el-store {
    position: absolute;
    right: 0px;
    margin-right: calc(30/1920*100vw);
  }
}
.iconbangzhu {
  font-size: calc(20 / 1920 * 100vw);
  position: relative;
  color: $tab;
}

.date-time-tooltip{
  color: $tab;
  margin-left: calc(20 / 1920 * 100vw);;
  margin-right: calc(8 / 1920 * 100vw);
}

.icon-gengduo{
  cursor: pointer;
  color: #7d8cad;
  font-size: calc(24/1920*100vw);
}

.setting-config{
  border-bottom: 1px solid #e3e9f4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  padding-left: calc(30/1920*100vw);
}

.input-form-slot{
  flex-direction: column;
}

.error-text{
  font-size: 12px;
  color: red;
  position: relative;
}
.error-text span{
  position: absolute;
  left: 0;
}

.dialog-form-item-name{
  height: 28px;
  line-height: 28px;
  display: inline-flex;
}

.dialog-form-item{
  width: 100%;
  height: 56px;
  margin-bottom: 18px;
}

.el-radio__input.is-checked + .el-radio__label{
  color: #424151;
}

.subcatergy-title{
  font-size: calc(14 / 1920 * 100vw);
  color: #7d8cad;
  padding-left: calc(20 / 1920 * 100vw);
  margin: 5px 0;
  font-weight: bold;
  border-left: 4px solid #fff;
}
