$border: #e3e9f4;
$color: #606266;
$background: #fff;
$borderStyle: 1px solid $border;
$tab:#7d8cad;
$dialogBorder: 1px solid #dfe2e9;
$dialogTitle: #484848;
$warning: #ff9803;
$cancelBtnBackground: #eaedf2;
$cancelBtnFont: #adb1c0;
$mainColor: #006ab7;
$black: #182752;
$primary:#556679;
$CTA:#c60957;
$sv_red: #c60957;
@import url('../css/pagination.css');
.clear-float::after{
  content: '';
  display: block;
  clear: both;
}
.header-title{
  // height: 70px;
  // border-bottom: $borderStyle;
  // padding-left: calc(40/1920*100vw);
  // padding-right: calc(25/1920*100vw);
  // margin-bottom: 25px;
  // font-size: calc(20/1920*100vw);
  // font-weight: bold;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // color: $color;
}

.page-container{
  // background-color: $background;
  // border: $borderStyle;
}
.font-13 {
  font-size: calc(13/1920*100vw);
}
.font-14 {
  font-size: calc(14/1920*100vw);
}
.font-15 {
  font-size: calc(15/1920*100vw);
}
.el-table--mini{
  font-size: calc(14/1920*100vw);
  .el-table__row {
    height: calc(60/1920*100vw);
  }
}
.table-iconfont{
  font-size: calc(24/1920*100vw);
  color: $tab;
  cursor: pointer;
  margin-right: calc(20/1920*100vw);
  vertical-align: middle;
  &:last-child{
    margin-right: 0px;
  }
}
.main-dialog-body {
  .el-input__inner{
    height: calc(46/1920*100vw);
  }
}
.dialog-body{
  overflow: hidden;
  width: 100%;
  background-color: #f7f9fa;
}
.dialog-slot{
  margin: 0 calc(20/1920*100vw) calc(20/1920*100vw);
  display: flex;
  align-items: center;
}
.import-slot{
  @extend .dialog-slot;
  margin: 20px calc(20/1920*100vw) 0px;
}
.form-slot{
  @extend .dialog-slot;
  margin: 0 calc(20/1920*100vw) 20px calc(20/1920*100vw);
}
.import-file-slot{
  @extend .dialog-slot;
  flex-wrap: wrap;
}
.inspection-name{
  border-bottom:1px solid #ddd;
  & .el-input__inner{
    border:none;
  }
}
.rules{
  text-align: left;
  margin-left: 20px;
  font-size: 10px;
  margin-top: 5px;
  color: #ff2400;
  display: block;
}
.inspect-text {
  padding: 5px; 
  flex: 1;
  div {
    // overflow:hidden;
    // white-space: nowrap;
    // text-overflow: ellipsis;
    max-width: calc(700/1920*100vw);
    word-wrap:break-word;
  }
  margin-left: calc(20/1920*100vw);
}
.dialog-icon{
  font-size: 40px;
  margin-right: 20px;
  color: $warning;
}
.storevue-dialog .el-dialog{
  position: absolute;
  display: flex;
  flex-direction: column;
  
  border-radius: calc(10/1920*100vw);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 !important;
  .el-dialog__header {
    background-color: #f7f9fa;
    border-radius: calc(10/1920*100vw);
  }
  .el-dialog__body {
    flex: 1;
    background-color: #f7f9fa;
  }
}

.storevue-dialog .el-dialog__header{
  padding: calc(20/1920*100vw);
  font-size: calc(24/1920*100vw);
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    height: calc(40/1920*100vw);
  }
}

.storevue-dialog .el-dialog__title{
  font-size: calc(24/1920*100vw);
  color: $dialogTitle;
}
.dialog-content{
  color: $dialogTitle;
}
.storevue-dialog .el-dialog__footer{
  padding: calc(20/1920*100vw) calc(20/1920*100vw) calc(20/1920*100vw) calc(30/1920*100vw);
}

.storevue-form-dialog {
  @extend .storevue-dialog;
}
.storevue-checkbox-outlined {
  .is-checked, .is-focus {
    .el-checkbox__inner {
      background-color: #e0f2ff;
      border-color: #2c90d9;
    }
  }
  .is-disabled {
    .el-checkbox__inner {
      // background-color: #e0f2ff;
      // border-color: #2c90d9;
    }
  }
  .el-checkbox__inner {
    &::after {
      border: 2px solid #2c90d9;
      height: 8px;
      left: 6px;
      top: 2px;
      border-left: 0;
      border-top: 0;
    }
    border: 1px solid #acaeb1;
    height: calc(18/1920*100vw);
    width: calc(18/1920*100vw);
  }
}
.storevue-multi_select {
  
  border-radius: 3px;
  .el-select__tags {
    display: none;
  }
  .el-input__inner {
    background-color: transparent;
    height: calc(36/1920*100vw) !important;
    border-color: transparent !important;
  }
  .is-focus {
    .el-input__inner {
      border-color: transparent !important;
    }
  }
  
}
.storevue-select-grey {
  .el-input__inner {
    border-color: #edf0f2 !important;
    height: 36px !important;
    line-height: 36px !important;
    min-height: 36px !important;
    background-color: #edf0f2
  }
  .is-focus {
    .el-input__inner {
      border-color: #edf0f2 !important;
    }
  }
  .el-input__suffix {
    // top: 
  }
}
.storevue-select {
  .el-input__inner {
    border-color: #c9cdd5 !important;
    height: 36px !important;
    line-height: 36px !important;
    min-height: 36px !important;
  }
  .is-focus {
    .el-input__inner {
      border-color: #adadad !important;
    }
  }
  .el-input__suffix {
    // top: 
  }
}
.device-select {
  .el-input__inner {
    border-color: #f4f6f7 !important;
    background-color: #f4f6f7 !important;
    height: calc(30/1920*100vw);
    font-family: NotoSansCJKtc;
  }
  .el-input__icon {
    line-height: calc(30/1920*100vw);
  }
  .is-focus {
    .el-input__inner {
      border-color: #f4f6f7 !important;
    }
  }
}
.storevue-checkbox-filled {
  .is-checked, .is-focus {
    .el-checkbox__inner {
      background-color: #2c90d9;
      border-color: #2c90d9;
    }
  }
  .is-disabled {
    .el-checkbox__inner {
      // background-color: #2c90d9;
      // border-color: #2c90d9;
    }
  }
  .el-checkbox__inner {
    &::after {
      border: 2px solid #fff;
      height: 8px;
      left: 6px;
      top: 2px;
      border-left: 0;
      border-top: 0;
    }
    border: 1px solid #acaeb1;
    height: calc(18/1920*100vw);
    width: calc(18/1920*100vw);
  }
}
.storevue-table {
  .el-checkbox {
    .is-checked, .is-focus {
      .el-checkbox__inner {
        background-color: #e0f2ff;
        border-color: #2c90d9;
      }
    }
    .el-checkbox__inner {
      &::after {
        border: 2px solid #2c90d9;
        height: 8px;
        left: 6px;
        top: 2px;
        border-left: 0;
        border-top: 0;
      }
      border: 1px solid #acaeb1;
      height: calc(18/1920*100vw);
      width: calc(18/1920*100vw);
    }
  }
}
.storevue-form-dialog .el-dialog__header{
  padding: 20px;
  font-size: 24px;
  color: $dialogTitle;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f9fa;    
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.storevue-input-search {
  width: calc(175/1920*100vw);
  color: #2b2b2b;
  .el-input__inner {
    border: none;
    background-color: #edf0f2;
    height: calc(30/1920*100vw);
    line-height: calc(30/1920*100vw);
  }
  i {
    position: relative; 
    top: calc(5/1920*100vw);
    left: calc(5/1920*100vw);
    font-size: calc(18/1920*100vw);
    color: #2b2b2b;
  }
}
.storevue-input {
  .el-input__inner {
    border: none;
    height: calc(36/1920*100vw);
    line-height: calc(36/1920*100vw);
  }
}
.storevue-input-white {
  .el-input__inner {
    background-color: #fff;
    border: solid 1px #c3c4c5;
    border-radius: 5px;
    &:focus {
      border: solid 1px #c3c4c5;
    }
  }
}
.storevue-input-grey {
  .el-input__inner {
    background-color: #f4f6f7;
    border: solid 1px #f4f6f7;
    border-radius: 5px;
    &:focus {
      border: solid 1px #f4f6f7;
    }
    &:disabled {
      background-color: #f4f6f7 !important;
      border: solid 1px #f4f6f7 !important;
    }
  }
}
.el-switch.is-checked .el-switch__core{
  border-color: $sv_red;
  background-color: $sv_red;
}
.storevue-radio-blue {
  .el-radio__inner {
    border-color: #d9dde1;
    background: #fff;
    width: calc(16/1920*100vw);
    height: calc(16/1920*100vw);
  }
  &.is-checked {
    .el-radio__inner {
      border-color: #2c90d9;
      background: #e0f2ff;
      width: calc(16/1920*100vw);
      height: calc(16/1920*100vw);
    }
    .el-radio__inner::after {
      width: calc(8/1920*100vw);
      height:calc(8/1920*100vw);
      background: #2c90d9;
    }
  }
  span {
    font-size: calc(15/1920*100vw);
  }
}
.storevue-radio {
  label{
    width: unset !important;
    height: 18px;
  }
  &.el-radio-group {
    display: flex;
  }
  .el-radio__inner {
    border-width: 4px;
    &::after {
      width: 10px;
      height: 10px;
    }
    height: 18px;
    width: 18px;
  }
  .is-checked {
    .el-radio__inner {
      border-color: #c60957;
      background: #c60957;
    }
  }
}
.confirm-btn{
  width: calc(100/1920*100vw);
  font-size: calc(14/1920*100vw);
  height:calc(32/1920*100vw) !important;
  border-radius: 4px;
  padding: 0;
  background-color: #006ab7;
  border-color: transparent;
  &:hover {
    background-color: #2c5a7d;
    border-color: transparent;
  }
  &:focus {
    background-color: #2c5a7d;
    border-color: transparent;
    color: #bebebe;
  }
  &:active {
    background-color: #2c5a7d;
    border-color: transparent;
    color: #bebebe;
  }
}

.inspect-btn {
  color: #556679;
  position: absolute;
  background-color: #fff;
  border-radius: 3px;
  right: calc(6/1920*100vw);
  bottom: calc(6/1920*100vw);
  border: solid 1px #e6e6e6;
}
.cancel-btn{
  @extend .confirm-btn;
  background-color: $cancelBtnBackground !important;
  color: $cancelBtnFont !important;
  margin-right: calc(20/1920*100vw);
  min-height: 28px;
  min-width: 85px;
}

.table-header{
  border: none;
  font-size: calc(14/1920*100vw);
  color: $tab;
  height: 47px;
}

.required-name{
  color: $mainColor;
}
.storevue-textarea {
  textarea {
    background-color: #f4f6f7;
    border: none;
    border-radius: 5px;
    &:focus {
    }
  }
}
.storevue-textarea-white {
  textarea {
    background-color: #fff;
    border: solid 1px #c3c4c5;
    border-radius: 5px;
    &:focus {
      border: solid 1px #c3c4c5;
    }
  }
}
.inspection-select {
  .el-input__inner {
    border: none !important;
    width: 90px;
    height: 26px;
    line-height: 26px;
    color: #006ab7;
    background-color: #edf8f9 !important;
  }
}
.el-select-dropdown__list {
  padding: 20px 0;
}
.is-multiple {
  .el-select-dropdown__item {
    margin-left: 20px;
    &:first-child {
      background: url("~@/../static/img/select-multi-unchecked.svg") no-repeat;
      background-position: center right 20px;
      padding-left: 0px !important;
    }
    &:not(:first-child) {
      padding-left: 10px !important;
      border-left: solid 1px rgba(172, 174, 177, 0.34);
    }
  }
  .el-select-dropdown__item.selected {
    &:first-child {
      background: url("~@/../static/img/select-multi-checked.svg") no-repeat;
      background-position: center right 20px;
    }
    &:not(:first-child) {
      padding-left: 10px !important;
      border-left: solid 1px rgba(44, 144, 217, 0.34);
    }
  }
}
.el-select-dropdown__wrap {
  span {
    font-size: calc(15/1920*100vw);
  }
  .el-select-dropdown__item {
    background-color: #fff!important;
    &::after {
      display: none;
    }
  }
  .el-select-dropdown__item:hover{
    background-color: #fff!important;
    color: #1375bc!important;
    span {
      color: #1375bc!important;
    }
  }
}
.el-select-dropdown__item.selected {
  span {
    color: #1375bc!important;
  }
  color: #1375bc;
  font-weight: 400;
  background: url("~@/../static/img/select-checked.svg") no-repeat;
  background-position: center right 20px;
}
.el-tabs {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.el-tabs__content {
  flex: 1;
}

#patrltabs-content {
  .el-tabs__header {
    display: none;
  }
}
.el-button {
  min-height: 28px;
  min-width: 85px;
}
.storevue-button-outlined {
  background-color: #fff;
  border-color: #c60957;
  color: #c60957;
  font-size: 15px;
  padding: 8px 16px 7px;
  &.is-disabled {
    background-color: #fff;
    border-color: #c60957;
    color: #c60957;
    opacity: .5;
    &:hover {
      background-color: #fef4fc;
      border-color: #c60957;
      color: #c60957;
    }
  }
  &:hover {
    background-color: #fef4fc;
    border-color: #c60957;
    color: #c60957;
  }
  &:focus {
    background-color: rgba(254,244,252,.34);
    border-color: #c60957;
    color: rgba(198,9,87,.34);
  }
  &:active {
    background-color: rgba(254,244,252,.34);
    border-color: #c60957;
    color: rgba(198,9,87,.34);
  }
}

.storevue-button-empty {
  background-color: transparent;
  border: none;
  color: #006ab7;
  font-size: calc(15/1920*100vw);
  padding: 0;
  &:hover {
    background-color: transparent;
    border: none;
    color: #006ab7;
    opacity: .4;
  }
  &:focus {
    background-color: transparent;
    color: #006ab7;
    border: none;
    opacity: 1;
  }
  &:active {
    background-color: transparent;
    color: #006ab7;
    border: none;
    opacity: 1;
  }
}
.storevue-button-filled {
  background-color: #c60957;
  border-color: #c60957;
  color: #fff;
  font-size: calc(15/1920*100vw);
  padding: calc(8 / 1920 * 100vw) calc(25 / 1920 * 100vw);
  &.is-disabled {
    background-color: #c60957;
    border-color: #c60957;
    color: #fff;
    opacity: .5;
    &:hover {
      background-color: #c60957;
      border-color: #c60957;
      color: #fff;
      opacity: .5;
    }
  }
  &:hover {
    background-color: #ae0048;
    border-color: #ae0048;
  }
  &:focus {
    background-color: #ae0048;
    border-color: #ae0048;
    color: rgba(255,255,255,.4);
  }
  &:active {
    background-color: #ae0048;
    border-color: #ae0048;
    color: rgba(255,255,255,.4);
  }
}
.storevue-button-search {
  background-color: #556679;
  border-color: #556679;
  color: #fff;
  font-size: calc(15/1920*100vw);
  padding: calc(8 / 1920 * 100vw) calc(25 / 1920 * 100vw);
  &.is-disabled {
    background-color: #556679;
    border-color: #556679;
    color: #fff;
    opacity: .5;
    &:hover {
      background-color: #556679;
      border-color: #556679;
      color: #fff;
      opacity: .5;
    }
  }
  &:hover {
    background-color: #3d4854;
    border-color: #3d4854;
  }
  &:focus {
    background-color: #3d4854;
    border-color: #3d4854;
    color: rgba(255,255,255,.4);
  }
  &:active {
    background-color: #3d4854;
    border-color: #3d4854;
    color: rgba(255,255,255,.4);
  }
}
.storevue-button-outlined .iconfont{
  margin-right: calc(8/1920*100vw);
}
.search-button{
  @extend .storevue-button-outlined;
  float: right;
  &:hover{
    background-color: #3d4854;
    color:#FFF;
  }
}
.schedule-btn{
  @extend .storevue-button-outlined;
  @media screen and (max-width: 1680px){
    width: 110px !important;
  }
}
.operation-btns{
  padding-top: 25px;
  padding-right: calc(30 / 1920 * 100vw);
  float: right;
  display: flex;
}
.export-btn{
  @extend .storevue-button-outlined;
}
.export-btn.el-button--primary.el-button--mini{
  background-color: $primary;
  border:none;
  color: #fff;
  min-height: 36px;
  min-width: 102px;
}
.export-btn.el-button--default.el-button--mini{
  background-color: #fff;
  border:none;
  color: #006ab7;
  min-height: 36px;
  min-width: 102px;
}
.export-btn .iconfont{
  font-size: calc(24/1920*100vw);
  margin-right: calc(18/1920*100vw);
}
.export-btn .icon-excel{
  height: calc(24/1920*100vw);
  width: calc(24/1920*100vw);
  margin-right: calc(8/1920*100vw);
}
.en-export-btn{
  @extend .export-btn;
  width: calc(160/1920*100vw);
}
.ja-export-btn{
  @extend .export-btn;
  width: 200px;
}
.button-area{
  @extend .text-ellipsis;
  display: flex;
  align-items: center;
  justify-content: center;
}

.el-search-input{
  width: calc(200/1920*100vw);
  margin-left: calc(30/1920*100vw);
  .el-input__inner{
    border-radius: 30px;
    text-overflow: ellipsis;
  }
}

.search-btns{
  float: right;
}

.en-bind-btn{
  margin-right: calc(20/1920*100vw);
  .iconfont{
    font-size: calc(16/1920*100vw);
  }

}
.bind-btn{
  @extend .storevue-button-outlined;
  @extend .en-bind-btn;
  @media screen and (max-width: 1440px){
    width: 100px;
  }
}
.ja-bind-btn{
  @extend .storevue-button-outlined;
  @extend .en-bind-btn;
  width: calc(180/1920*100vw);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inspction-btn{
  @extend .storevue-button-outlined;
  @extend .text-ellipsis;
  .iconfont{
    font-size: calc(16/1920*100vw);
  }
  @media screen and (max-width: 1440px){
    width: 100px;
  }
}

.inspction-btn.el-button--default{
  border-color: $mainColor;
  color: $mainColor;
}
.ja-inspction-btn{
  @extend .inspction-btn;
  width: calc(180/1920*100vw);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.picture-tips{
  display: inline;
  font-size: 12px;
  color: #f7d057;
  position: relative;
  top: 30px;
  left: 30px;
}

.empty-text{
  margin-left: 20px;
  font-size: calc(16/1920*100vw);
  color: $tab;
}

.radio-group{
  display: grid;
  grid-template-columns: 240px 240px;
  grid-template-rows: 30px;
}
.radio-class{
  display: flex;
  align-items: center;
  .el-radio__label{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .radio-img{
    height: 26px;
    width: 26px;
    margin-right: 10px;
  }
  .radio-span{
    display: inline-block;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #94a4b4;
  }
}

.absolute-btn{
  position: absolute;
  z-index: 2;
  right: calc(25/1920*100vw);
}

.date-range{
  display: inline-block;
}

.date-range.el-date-editor--daterange.el-range-editor--mini {
  border: 1px solid #ccc;
  width: 200px;
  height: calc(36 / 1920 * 100vw);
  line-height: calc(36 / 1920 * 100vw);
  min-height: 28px;
}

.overview-date {
  height: 80px;
  line-height: 80px;
  text-align: left;
  display: flex;
  align-items: center;
  .date-title {
    margin-left: calc(60 / 1920 * 100vw);
    margin-right: calc(40 / 1920 * 100vw);
    font-size: 14px;
    color: $black;
  }
  .bDateSel{
    height: 36px;
    line-height: 36px;
  }
  .content {
    display: inline-block;
  }
  .el-store {
    position: absolute;
    right: 0px;
    margin-right: calc(30/1920*100vw);
  }
}
.iconbangzhu {
  font-size: calc(20 / 1920 * 100vw);
  position: relative;
  color: $tab;
}

.date-time-tooltip{
  color: $tab;
  margin-left: calc(20 / 1920 * 100vw);;
  margin-right: calc(8 / 1920 * 100vw);
}

.icon-gengduo{
  cursor: pointer;
  color: #7d8cad;
  font-size: calc(24/1920*100vw);
}

.setting-config{
  // border-bottom: 1px solid #e3e9f4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  padding-left: calc(30/1920*100vw);
}

.no-data-text{
  font-size: calc(16/1920*100vw);
  color: #7d8cad;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.add-dialog .rules{
  font-size: 10px;
  color:#ff2400;
  font-weight: 400;
  line-height: 10px;
  margin-top: 3px;
  display: block;
}

.no-data-container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(16/1920*100vw);
  color: #7d8cad;
}

.img-class .el-image__inner{
  height: 70px;
  width: calc(100/1920*100vw);
  min-width: 85px;
}

.image-class{
  @extend .el-image__inner;
  border: 1px dashed #7d8cad;
  height: 70px;
  width: calc(100/1920*100vw);
  min-width: 85px;
}

.image-slot{
  height: calc(70/1920*100vw);
  width: calc(100/1920*100vw);
  color: #7d8cad;
  font-size: 12px;
  text-align: center;
  overflow: hidden;
}

.input-form-slot{
  flex-direction: column;
}

.error-text{
  font-size: 12px;
  color: red;
  position: relative;
}
.error-text span{
  position: absolute;
  left: 0;
}

.dialog-form-item-name{
  height: 28px;
  line-height: 28px;
  display: inline-flex;
}

.dialog-form-item{
  width: 100%;
  margin-bottom: 18px;
}

.el-radio__input.is-checked + .el-radio__label{
  color: #424151;
}

.subcatergy-title{
  font-size: calc(14 / 1920 * 100vw);
  color: #7d8cad;
  padding-left: calc(20 / 1920 * 100vw);
  margin: 5px 0;
  font-weight: bold;
  border-left: 4px solid #fff;
}

.standard-name{
  width: 100px;
  height: 20px;
  color: white;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.up-to-standard{
  background-color: rgb(96, 151, 244);
}
.not-up-to-standard{
  background-color: rgb(253, 186, 64);
}
